.div-main {
  width: 90%;
  border: solid 5px black;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.div-greeting {
  border: solid 5px gray;
  width: 33%;
  height: 33%;
  box-sizing: border-box;
  padding: 10px 40px;
  font-size: 20pt;
}

.form-client-data {
  padding: 20px;
  box-sizing: border-box;
  border: solid 5px gray;
  width: 63%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.div-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
}
